<div class="row mt-5 d-flex align-items-center">
  <div class="col-lg-8 col-12 order-lg-1 order-4">
      <input
        id="typeahead-basic"
        type="text"
        class="form-control"
        placeholder="Escreva o nome do abrigo ou da cidade..."
     
        [(ngModel)]="model"
        [ngbTypeahead]="search"
      />

  </div>
  <!-- <div class="col-lg-2 col-6 order-lg-1 order-2 mb-lg-0 mb-3">
    <div
      class="d-flex justify-content-end gap-3 align-items-center mt-lg-0 mt-3"
    >
      Dropdown for Localidade
      <div ngbDropdown class="d-inline-block">
        <button
        type="button"
        class="btn btn-outline-primary fw-medium w-auto overflow-hidden max-w-50 d-flex justify-content-start"
        id="dropdownBasic1"
        ngbDropdownToggle
        style="width: 140px; max-width: 140px;" 
      >
        <p class="text-overflow-ellipsis" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> 
          {{ selectedLocation || "Localização" }}
        </p>
      </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="filterByLocation('Todos')"
            [ngClass]="{ active: selectedLocation === 'Todos' }"
          >
            Todos
          </button>
          <button
            *ngFor="let location of locations"
            ngbDropdownItem
            (click)="filterByLocation(location)"
            [ngClass]="{ active: selectedLocation === location }"
          >
            {{ location }}
          </button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-lg-2 col-12 order-lg-3 order-2 mb-lg-0 mb-3">
    <div
      class="d-flex justify-content-lg-start justify-content-center align-items-center gap-3 mt-lg-0 mt-3"
    >
      <!-- Dropdown for Localidade -->
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary fw-medium w-auto"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ capacity}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            (click)="capacityFilter.emit('Todos'); capacity = 'Todos'"
            [ngClass]="{ active: capacity === 'Todos' }"
          >
            Todos
          </button>
          <button
            ngbDropdownItem
            (click)="capacityFilter.emit('Com vagas'); capacity = 'Com vagas'"
            [ngClass]="{ active: capacity === 'Com vagas' }"
          >
            Com vagas
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
