<div class="row mt-5 d-flex align-items-center">
    <div class="col-lg-8 col-12 order-lg-1 order-4"> <!-- Ajuste a largura da coluna conforme necessário -->
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15.7071 14.2929C15.3166 13.9024 14.6834 13.9024 14.2929 14.2929C13.9024 14.6834 13.9024 15.3166 14.2929 15.7071L15.7071 14.2929ZM20.2929 21.7071C20.6834 22.0976 21.3166 22.0976 21.7071 21.7071C22.0976 21.3166 22.0976 20.6834 21.7071 20.2929L20.2929 21.7071ZM10 16C6.68629 16 4 13.3137 4 10H2C2 14.4183 5.58172 18 10 18V16ZM4 10C4 6.68629 6.68629 4 10 4V2C5.58172 2 2 5.58172 2 10H4ZM10 4C13.3137 4 16 6.68629 16 10H18C18 5.58172 14.4183 2 10 2V4ZM16 10C16 13.3137 13.3137 16 10 16V18C14.4183 18 18 14.4183 18 10H16ZM14.2929 15.7071L20.2929 21.7071L21.7071 20.2929L15.7071 14.2929L14.2929 15.7071Z" fill="#71727A"/>
                    </svg>
            </span>
          </div>
    </div>
    <div class="col-lg-2 col-6 order-lg-1 order-2 mb-lg-0 mb-3">
        <div class="d-flex justify-content-end gap-3 align-items-center mt-lg-0 mt-3">
            <!-- Dropdown for Localidade -->
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary  fw-medium w-auto" id="dropdownBasic1" ngbDropdownToggle>
                    Localização
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-2 col-6 order-lg-3 order-2 mb-lg-0 mb-3">
        <div class="d-flex justify-content-start align-items-center gap-3 mt-lg-0 mt-3">
            <!-- Dropdown for Localidade -->
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary fw-medium w-auto" id="dropdownBasic1" ngbDropdownToggle>
                    Vagas
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>
    </div>
</div>