<div class="container-fluid container-padding-x py-md-5">
  <app-abrigo-button />
  <ng-container >
    <app-abrigo-filters
      [shelters]="shelters()"
      (searchFilter)="updateSearchFilter($event)"
      (capacityFilter)="updateCapacityFilter($event)"
    />
    <div id="topView" class="row mt-5 d-flex align-items-end">
      @for (shelter of filteredShelters() | slice: (page-1) * pageSize : page *
      pageSize; track shelter.id) {
      <div class="col-md-4 col-12 mb-4">
        <app-abrigo-card
          (deleteShelter)="deleteShelter($event)"
          [shelter]="shelter"
        />
      </div>
      }
    </div>
    <div class="d-flex justify-content-center mt-3">
      <ngb-pagination
        (pageChange)="scrollTop()"
        [(page)]="page"
        [maxSize]="3"
        [pageSize]="pageSize"
        [collectionSize]="filteredShelters().length"
      />
    </div>
  </ng-container>
</div>
