<div class="container-fluid container-padding-x py-md-5">
    <app-abrigo-button />
    <ng-container *ngIf="shelters$|async as shelters">
        <app-abrigo-filters [shelters]="shelters"/>
        <div id="topView" class="row mt-5 d-flex align-items-end">
            @for (shelter of shelters | slice: (page-1) * pageSize : page * pageSize; track $index) {
            <div class="col-md-4 col-12 mb-4 ">
                <app-abrigo-card [shelter]="shelter" />
            </div>
            }
        </div>
        <div class="d-flex justify-content-center mt-3">
            <ngb-pagination (pageChange)="scrollTop()" [(page)]="page" [pageSize]="pageSize" [collectionSize]="shelters.length" />
        </div>
    </ng-container>
</div>
