<div class="row align-items-center justify-content-between position-relative overflow-x-hidden dog py-5">
    <div class="col-lg-6 col-8  text-lg-start text-justify ps-lg-5 ">
        <h1 class="fw-bold">Encontre seu Pet aqui na Arcanimal</h1>
        <p class="fs-4">Aqui você pode encontrar seu Pet em poucos cliques!</p>
        <div class="d-flex flex-lg-row flex-column gap-3">
            <a class="btn btn-primary fs-3 justify-self-start mt-3">Cadastrar animal</a>
        </div>

    </div>
</div>