<div class="row align-items-center justify-content-between position-relative overflow-x-hidden">
    <div class="col-lg-7 col-12 px-lg-5 text-lg-start text-justify">
        <h1 class="display-1 fw-bold">Encontre seu Pet aqui na Arcanimal</h1>
        <p class="fs-4">Aqui você pode encontrar seu Pet em poucos cliques!</p>
        <div class="d-flex flex-lg-row flex-column gap-3">
            <a class="btn btn-primary fs-3 justify-self-start mt-3">Quero ser lar temporário</a>
            <a class="btn btn-primary fs-3 justify-self-start mt-3">Quero ser ONG</a>
        </div>

    </div>
    <div class="col-lg-5 col-12 text-end d-lg-block d-none align-self-start">
        <img class="dog w-100" src="../../../../../assets/img/banner-img.png" alt="">
    </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <div class="d-flex flex-lg-row flex-column justify-content-center gap-4 mt-lg-0 mt-5">
            <button class="btn btn-gray-3 fs-4">Cadastrar Lar</button>
            <button class="btn btn-gray-3 fs-4">Cadastrar ONG</button>
        </div>
    </div>
</div> -->