<div
  class="row align-content-end container-padding-x align-content-lg-center banner-container align-items-center position-relative overflow-x-hidden dog py-5">
  <div class="col-lg-5 col-10 col-md-8 text-lg-start text-justify pe-5 mt-5">
    <h1 class="fw-bold h1-bold pb-2 text-primary">Encontre seu pet aqui na Arcanimal</h1>
    <p class="subtitle1-regular">Aqui você pode encontrar seu pet em poucos cliques!</p>

  </div>
  <div class="mt-5 col-md-12">
    <a [href]="rescueMapUrl" target="_blank" class="btn col-md-4 btn-primary fs-3 mt-lg-3 w-mobile">Mapa de resgate</a>
  </div>
</div>
