<div class="row mt-5">
    <div [class]="canEdit() ? 'col-6' : 'col-12'">
        <h1>Abrigos cadastrados</h1>
    </div>
    <div *ngIf="canEdit()" class="col-6 d-flex justify-content-center flex-shrink-1">
        <button routerLink="/cadastrar-abrigo" class="btn btn-primary w-mobile">Cadastrar abrigo</button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <p class="fw-medium text-text-weak subtitle1-regular">Abaixo você consegue ver todos os abrigos cadastrados e sua disponibilidade:
        </p>
    </div>
</div>
