:host {
    display: block;
    .w-mobile{
      width: 100%!important;
    }
    @media screen and (max-width: 500px){
      .bottom-mobile{
        max-width: 25%;
      }
      .w-mobile{
        width: auto!important;
      }
    }
  }

