<div [formGroup]="loginForm">
  <label for="password" class="form-label">{{ labelInput }}</label>
  <input
    [type]="hidePassword ? 'password' : 'text'"
    class="form-control"
    id="password"
    placeholder="*******"
    formControlName="password"
    autocomplete="password"
  />
  <span
    [class]="
      showWarnningRulePass
        ? 'position-absolute top-50 end-0 translate-middle-y pe-5 pt-1'
        : 'position-absolute top-50 end-0 translate-middle-y pe-5 custom-padding '
    "
    (click)="togglePasswordVisibility()"
    style="cursor: pointer"
  >
    @if(hidePassword) {
    <img src="../../../assets/icons/eye.svg" alt="arrow left" />
    }@else {
    <img src="../../../assets/icons/eye-slash.svg" alt="arrow left" />
    }
  </span>
  @if(showWarnningRulePass){
  <div class="text-danger">{{ messageRulePass }}</div>
  }
</div>
