@import './../../../../../assets/bootstrap/theme';

:host {
  display: block;
  .hover:hover {
    background-color: map-get($theme-colors, 'primary');
    color: white;
    .vector-hover{
      filter: contrast(0.5) brightness(5);
    }
    .card-text {
      color: white !important;
    }

  }
  .vector-width{
    width: 5rem;
    height: 5rem;
  }

  .card {
    border: 2px solid map-get($theme-colors, 'primary');
  }
}
