<div class="row mt-lg-3 mb-5">
  <div class="col-12">
    <h3 class="fw-normal h3-medium">O que você deseja fazer agora?</h3>
  </div>
</div>

<div class="row">
  @for (item of actions; track $index) {
  <div class="col-lg-6 col-12 mt-4">
    @if (item.isExternal) {
      <a class="card hover shadow pointer" href="{{item.url}}" target="_blank">
        <div class="card-body p-5 d-flex justify-content-between align-items-center">
          <span class="fs-5 h4-regular card-text">{{item.text}}</span>
          <img [src]="'../../../../../../../assets/icons/' + item.icon + '.svg'" [alt]="item.icon"
            class="vector-width vector-hover">
        </div>
      </a>
    }
    @else {
      <div class="card hover shadow pointer" [routerLink]="item.url">
        <div class="card-body p-5 d-flex justify-content-between align-items-center">
          <span class="fs-5 h4-regular card-text">{{item.text}}</span>
          <img [src]="'../../../../../../../assets/icons/' + item.icon + '.svg'" [alt]="item.icon"
            class="vector-width vector-hover">
        </div>
      </div>
      }
  </div>
  }
</div>
