@import './../../../../../assets/bootstrap/theme';

:host {
  display: block;
  .hover:hover {
    background-color: #E8E9F1;
    color: white;
  }
  .vector-width{
    width: 5rem;
    height: 5rem;
  }

  .card {
    border: 2px solid map-get($theme-colors, 'primary');
  }
}
