<form (ngSubmit)="onRecovery(loginForm)" #loginForm="ngForm" class="row">
  <div class="mb-4">
    <label for="password" class="form-label">Nova senha</label>
    <input type="password" class="form-control" id="password" placeholder="******" name="password"
      [(ngModel)]="password" required #passwordInput="ngModel">
    <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
      O campo nova senha é obrigatório.
    </div>
  </div>
  <div class="mb-4">
    <label for="confirmPassword" class="form-label">Repetir senha</label>
    <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="*******" name="confirmPassword"
      [(ngModel)]="confirmPassword" required #confirmPasswordInput="ngModel">
    <div *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched" class="text-danger">
      O campo repetir senha é obrigatório.
    </div>
  </div>
  <div class="col-12 mt-4 justify-content-center d-flex align-items-center">
    <button type="submit" class="col-4 btn btn-primary d-block">Confirmar</button>
  </div>
</form>
