<div class="container-fluid row py-5 flex-column align-items-center">
  <div class="col-lg-8 col-12 py-lg-5 px-lg-5 text-lg-start text-justify d-flex py-5 flex-column align-items-center">
    <div class="col-lg-8">
      <h1 class="display-1 fw-bold title">Link de redefinição de senha enviado</h1>
      <p class="fs-4 mb-5">Enviamos um link de redefinição de senha para o seu e-mail cadastrado.
        <br>Continue o processo por lá!
      </p>

    </div>

    <div class="col-12 d-flex align-items-center flex-column">
      <img class="reset-img" src="../../../assets/img/woman-phone.svg" alt="x icon">
      <div class="col-12 mt-5 justify-content-center d-flex align-items-center">
        <button type="submit" class="col-md-4 col-12 btn btn-primary d-block" routerLink="/nova-senha">Confirmar</button>
      </div>
    </div>
  </div>
</div>
