<main class="container-box d-flex container-padding-x py-5 flex-column align-items-center">
  <section
    class="col-lg-10 col-12 py-lg-5 px-lg-5 text-lg-start text-justify d-flex py-5 flex-column align-items-center">
    <div class="col-lg-8">
      <h1>Link de redefinição de senha enviado</h1>
      <p class="fs-4 mb-5 subtitle1-regular text-text-weak">Enviamos uma nova senha para o e-mail preenchido.
        <br>Use a nova senha para acessar a plataforma!
      </p>
    </div>

    <div class="col-12 d-flex align-items-center flex-column">
      <img class="reset-img" src="../../../assets/img/woman-phone.svg" alt="x icon">
      <div class="col-12 mt-5 justify-content-center d-flex align-items-center">
        <button type="submit" class="col-md-4 col-12 btn btn-primary d-block"
          routerLink="/login">Login</button>
      </div>
    </div>
  </section>
</main>
