:host {
    display: block;
    .address-height{
      flex-basis: 50px;
    }
      @media screen and (max-width: 900px){
    .bottom-mobile{
      max-width: 100%;
    }
    .w-mobile{
      width: 100%!important;
    }

  }
  }
