<div class="container mt-5">
    <ul class="row row-cols-1 row-cols-md-3 g-4 list-unstyled">
        <li class="col d-flex justify-content-center justify-content-md-start">
            <div class="card" style="width: 25rem;">
                <div class="card-body bg-light-2">
                    <div class="d-flex flex-column gap-1">
                        <span class="fw-bold">Abrigo A</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="fw-light text-dark-1">Rua: XXXXXXXXXXXXX</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">X Vaga Disponível</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">Água</span>
                            <span class="badge rounded-pill text-bg-light-4">Ração</span>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-primary w-mobile w-100 my-2 bottom-mobile">Editar Abrigo</a>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-outline-primary w-mobile w-100 bottom-mobile my-2">Entrar em contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col d-flex justify-content-center justify-content-md-start">
            <div class="card" style="width: 25rem;">
                <div class="card-body bg-light-2">
                    <div class="d-flex flex-column gap-1">
                        <span class="fw-bold">Abrigo B</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="fw-light text-dark-1">Rua: XXXXXXXXXXXXX</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">X Vaga Disponível</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">Água</span>
                            <span class="badge rounded-pill text-bg-light-4">Ração</span>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-primary w-mobile w-100 my-2 bottom-mobile">Editar Abrigo</a>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-outline-primary w-mobile w-100 bottom-mobile my-2">Entrar em contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col d-flex justify-content-center justify-content-md-start">
            <div class="card" style="width: 25rem;">
                <div class="card-body bg-light-2">
                    <div class="d-flex flex-column gap-1">
                        <span class="fw-bold">Abrigo C</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="fw-light text-dark-1">Rua: XXXXXXXXXXXXX</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">X Vaga Disponível</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">Água</span>
                            <span class="badge rounded-pill text-bg-light-4">Ração</span>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-primary w-mobile w-100 my-2 bottom-mobile">Editar Abrigo</a>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-outline-primary w-mobile w-100 bottom-mobile my-2">Entrar em contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="col d-flex justify-content-center justify-content-md-start">
            <div class="card" style="width: 25rem;">
                <div class="card-body bg-light-2">
                    <div class="d-flex flex-column gap-1">
                        <span class="fw-bold">Abrigo C</span>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="fw-light text-dark-1">Rua: XXXXXXXXXXXXX</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">X Vaga Disponível</span>
                        </div>
                        <div class="d-flex gap-2 mt-1">
                            <span class="badge rounded-pill text-bg-light-4">Água</span>
                            <span class="badge rounded-pill text-bg-light-4">Ração</span>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-primary w-mobile w-100 my-2 bottom-mobile">Editar Abrigo</a>
                        </div>
                        <div class="d-flex flex-column align-items-center px-3">
                            <a class="btn btn-outline-primary w-mobile w-100 bottom-mobile my-2">Entrar em contato</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

