<div class="card p-3 shadow">
    <div class="card-body">
        <div class="d-flex flex-column gap-1">
            <span class="fw-bold">Abrigo A</span>
            <div class="d-flex gap-2 align-items-center">
                <span class="fw-light text-dark-1 mt-1">Rua: XXXXXXXXXXXXX</span>
            </div>
            <div class="d-flex gap-2 mt-1">
                <p class="text-bg-success-1 p-1 rounded px-2 fw-medium" style="color: #3B3F5C;">1 Vaga disponível</p>
            </div>
            <div class="d-flex gap-2 mt-3 flex-wrap">
                @for (need of shelter()?.needs; track $index) {
                    <span class="p-1 px-2 text-bg-warning rounded fw-medium" style="color: #3B3F5C;">{{need}}</span>
                }
                @if(shelter()?.other_needs){
                    <span class="p-1 px-2 text-bg-warning rounded fw-medium" style="color: #3B3F5C;">{{shelter()?.other_needs}}</span>
                }


            </div>
            <div class="d-flex flex-column align-items-center mt-2 gap-2">
                <a class="btn btn-primary w-mobile w-100 bottom-mobile fw-medium">Editar abrigo</a>
                <a class="btn btn-outline-primary w-mobile w-100 bottom-mobile fw-medium">Entrar em contato</a>
            </div>
        </div>
    </div>
</div>