<div class="container-fluid p-lg-5" [formGroup]="form">
    <div class="row">
        <div class="col-12 text-start">
            <h3>Criar abrigo</h3>
            <p>Você poderá adicionar um nome, as informações e as necessidades do abrigo.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5 col-12">
            <label for="name" class="form-label">Nome do abrigo</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Abrigo A">
        </div>
        <div class="col-md-2 col-6 mt-md-0 mt-3">
            <label for="capacity" class="form-label">Capacidade do abrigo</label>
            <input type="number" min="0" class="form-control" formControlName="capacity" id="capacity"
                placeholder="Capacidade do abrigo">
        </div>
        <div class="col-md-2 col-6 mt-md-0 mt-3">
            <label for="occupation" class="form-label">Animais alocados</label>
            <input type="number" min="0" class="form-control" formControlName="occupation" id="occupation"
                placeholder="Animais alocados">
        </div>
        <div class="col-md-3 col-12 mt-md-0 mt-3">
            <label for="address" class="form-label">Endereço</label>
            <input type="text" min="0" class="form-control" formControlName="address" id="address"
                placeholder="Endereço">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 col-12">
            <label for="location" class="form-label">Localização do abrigo</label>
            <input type="text" class="form-control" id="location" formControlName="location" placeholder="Cidade">
        </div>
        <div class="col-md-3 col-12 mt-md-0 mt-3">
            <label for="owner" class="form-label">Responsável pelo abrigo</label>
            <input type="text" class="form-control" id="owner" formControlName="owner" placeholder="Responsável pelo abrigo">
        </div>
        <div class="col-md-3 col-12 mt-md-0 mt-3">
            <label for="phone" class="form-label">Whatsapp</label>
            <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="WhatsApp">
        </div>
        <div class="col-md-3 col-12 mt-md-0 mt-3">
            <label for="email" class="form-label">E-mail do responsável</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email do responsável">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-start">
            <p class="fw-bold">Necessidades do abrigo</p>
        </div>
        <div class="d-flex flex-column align-items-start mt-3 gap-3">
            @for (item of needs; track $index) {
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox"  [value]="item" (change)="updateList(item)" [id]="item">
                <label class="form-check-label" [for]="item">
                    {{item}}
                </label>
            </div>
            }
            <textarea type="text" class="form-control w-auto" id="other_needs" formControlName="other_needs" placeholder="Outros"></textarea>
        </div>
    </div>
    <div class="row mt-5">
        <div class="d-flex flex-md-row flex-column justify-content-center gap-3">
            <button routerLink="/abrigos" class="btn btn-outline-primary fw-medium">Voltar</button>
            <button (click)="register()" class="btn btn-primary fw-medium">Salvar alterações</button>
        </div>
    </div>
</div>