<div class="row py-5 d-flex justify-content-center gap-5 align-items-center">
  <div class="col-12 col-lg-5 pb-5 pb-lg-0 d-flex justify-content-center">
    <img src="./../../../../../assets/img/background-in-development.svg" alt="Ilustração de um cachorro brincando">
  </div>
  <div class="col-12 col-lg-6">
    <h2 class="fw-bold h1-bold pb-2 text-primary">Estamos em desenvolvimento</h2>
    <p class="h3-medium fw-normal">Tem alguma crítica e/ou sugestão? Acesse o formulário abaixo e nos ajude
      a melhorar!</p>
    <div class="d-flex justify-content-center py-5">
      <a [href]="feedbackFormUrl" target="_blank" class="d-flex gap-2 btn text-primary align-items-center pointer">
        <p>Acessar formulário</p>
        <img src="../../../assets/icons/arrow-left.svg" alt="arrow left">
      </a>
    </div>
  </div>
</div>
