<div class="row px-lg-5 px-0 mt-5">
    <div class="col-12">
        <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center">
            <span class="fs-3 fw-bold">Galeria Pet</span>
            <div class="d-flex flex-wrap gap-3 mt-lg-0 mt-3">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Localidade
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>opcao 1</button>
                        <button ngbDropdownItem>opcao 2</button>
                        <button ngbDropdownItem>to chei de sono</button>
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Espécie
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>opcao 1</button>
                        <button ngbDropdownItem>opcao 2</button>
                        <button ngbDropdownItem>to chei de sono</button>
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Raça
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>opcao 1</button>
                        <button ngbDropdownItem>opcao 2</button>
                        <button ngbDropdownItem>to chei de sono</button>
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Porte
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>opcao 1</button>
                        <button ngbDropdownItem>opcao 2</button>
                        <button ngbDropdownItem>to chei de sono</button>
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Gênero
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>opcao 1</button>
                        <button ngbDropdownItem>opcao 2</button>
                        <button ngbDropdownItem>to chei de sono</button>
                    </div>
                </div>
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Cor
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem>opcao 1</button>
                        <button ngbDropdownItem>opcao 2</button>
                        <button ngbDropdownItem>to chei de sono</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>