<div class="card" style="width: 18rem;">
    <img src="../../../../../assets/img/bonk.webp" class="card-img-top" alt="...">
    <div class="card-body bg-light-2">
        <div class="d-flex flex-column gap-1">
            <span class="fw-bold">Sem nome</span>
            <div class="d-flex gap-2 align-items-center">
                <span class="fw-light text-dark-1">Gênero</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 4" fill="none">
                    <circle cx="1.5" cy="2" r="1.5" fill="gray"/>
                    </svg>
                <span class="fw-light text-dark-1">Raça</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 3 4" fill="none">
                    <circle cx="1.5" cy="2" r="1.5" fill="gray"/>
                    </svg>
                <span class="fw-light text-dark-1">Porte</span>
            </div>
            <div class="d-flex gap-2 mt-1">
                <span class="badge rounded-pill text-bg-light-4">Côr</span>
                <span class="badge rounded-pill text-bg-light-4">Localidade</span>
                <span class="badge rounded-pill text-bg-light-4">sei la</span>
            </div>
        </div>
    </div>
  </div>