<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="row">
  <div class="mb-4">
    <label for="email" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="voluntario@email.com"
      formControlName="email"
    />
    <div
      *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
      class="text-danger"
    >
      O campo email é obrigatório.
    </div>
    <div
      *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched"
      class="text-danger"
    >
      Insira um e-mail válido.
    </div>
  </div>
  <div class="mb-4 position-relative">
    <label for="password" class="form-label">Senha</label>
    <input
      [type]="hidePassword ? 'password' : 'text'"
      class="form-control"
      id="password"
      placeholder="*******"
      formControlName="password"
    />
    <span
      [class]="
        showWarnningRulePass
          ? 'position-absolute top-50 end-0 translate-middle-y pe-5 pt-1'
          : 'position-absolute top-50 end-0 translate-middle-y pe-5 custom-padding '
      "
      (click)="togglePasswordVisibility()"
      style="cursor: pointer"
    >
      @if(hidePassword) {
      <img src="../../../assets/icons/eye.svg" alt="arrow left" />
      }@else {
      <img src="../../../assets/icons/eye-slash.svg" alt="arrow left" />
      }
    </span>
    <div *ngIf="showWarnningRulePass" class="text-danger">
      O campo senha é obrigatório.
    </div>
  </div>
  <div
    class="col-12 mt-4 justify-content-center d-flex flex-column align-items-center"
  >
    <button
      type="submit"
      class="col-md-4 col-12 btn btn-primary d-block mb-5"
      [disabled]="!loginForm.valid"
    >
      Entrar
    </button>
    <button
      type="button"
      (click)="onRequestResetPassword()"
      class="col-md-4 col-12 btn text-primary"
    >
      Esqueci a senha
    </button>
  </div>
</form>
