    <div class="col-12 bg-secondary rounded p-5">
        <div class="d-flex flex-column">
            <span class="fs-3 fw-bold">Não encontrou seu animal?</span>
            <span class="fs-3 fw-bold">Cadastre para encontrá-lo.</span>
            <span class="fs-6 text-justify text-dark-1">Clicando no botão abaixo você acessa nosso formulário, coloca as informações do seu animalzinho e nós iremos encontrá-lo.</span>
            <button class="btn btn-primary align-self-start mt-3">Cadastrar Animal</button>
        </div>
    </div>