<div class="container-fluid mt-5 bg-light-2 container-padding-x pb-5 pt-4">
  <div class="row">
    <div class="col-12 text-lg-start text-center align-items-center pt-3">
      <img width="120px" src="../../../assets/icons/logo.jpg" alt="logo" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-5">
      <div class="d-flex pb-4 flex-lg-row flex-column justify-content-between align-items-center">
        <div class="d-flex gap-5">
          <a class="fs-lg-5 fs-4 text-primary h5-regular pointer" routerLink="/">Início</a>
          @if (!loggedIn()) {
            <a class="fs-lg-5 fs-4 text-primary h5-regular pointer" routerLink="login">Login</a>
          }
          @else {
            <a (click)="logout()" class="fs-5 text-primary h5-regular pointer">Sair</a>
          }
          <!-- <a class="fs-5 text-primary h5-regular">Contatos</a> -->
        </div>
        <div class="d-flex  align-items-center gap-5 mt-lg-0 mt-5">
          <a href="https://www.facebook.com/profile.php?id=61559172705930" target="_blank">
            <img class="channels" src="../../../assets/icons/facebook.svg" alt="facebook icon">
          </a>
          <a href="https://twitter.com/Arcanimal_" target="_blank">
            <img class="channels" src="../../../assets/icons/x.svg" alt="x icon">
          </a>
          <a href="https://www.instagram.com/projeto.arcanimal/" target="_blank">
            <img class="channels" src="../../../assets/icons/instagram.svg" alt="instagram icon">
          </a>
        </div>
      </div>
      <hr>
      <div class="d-flex pt-4 text-primary flex-lg-row flex-column justify-content-between align-items-center">
        <div class="d-flex flex-lg-row flex-column text-lg-between text-center gap-2">
          <span>© {{currentYear}} Arcanimal.</span>
          <span>Todos os direitos reservados</span>
        </div>

        <!-- <div class="d-flex gap-lg-4 gap-3 text-lg-between text-center mt-lg-0 mt-3">
          <a>Termos de Serviço</a>
          <a>Política de privacidade</a>
        </div> -->
      </div>
    </div>
  </div>
</div>