<div class="container-fluid mt-3 bg-light-2">
    <div class="row">
        <div class="col-12 p-5">
            <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center">
                <div class="d-flex gap-3">
                    <span>Início</span>
                    <span>Login</span>
                    <span>Contatos</span>
                </div>
                <div class="d-flex  align-items-center gap-3 mt-lg-0 mt-3">
                    <img class="img-fluid" src="../../../assets/icons/facebook.svg" alt="facebook icon">
                    <img class="img-fluid" src="../../../assets/icons/twitter.svg" alt="twitter icon">
                    <img class="img-fluid" src="../../../assets/icons/instagram.svg" alt="instagram icon">
                    <img class="img-fluid" src="../../../assets/icons/youtube.svg" alt="youtube icon">
                </div>
            </div>
            <hr>
            <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center">
                <div class="d-flex flex-lg-row flex-column text-lg-between text-center gap-2">
                    <span class="text-dark-1">© 2024 Arcanimal.</span>
                    <span class="text-dark-1"> Todos os direitos reservados</span>
                </div>
                
                <div class="d-flex gap-lg-4 gap-3 text-lg-between text-center mt-lg-0 mt-3">
                    <span class="text-dark-1">Termos de Serviço</span>
                    <span class="text-dark-1">Política de privacidade</span>
                </div>
            </div>
        </div>
    </div>
</div>